body {
    float: left;
}
#header {
    /* Rectangle 1 */
    position: absolute;
    
    top: 0px;
    left: 0px;
    width: 100%;
    height: 162px;

    background-color: #FFD9D9;
    background-clip: padding-box;
    box-shadow: 0px 4px 15px 8px rgba(0, 0, 0, 0.25);
}
/*Logo*/
#header>img {
    position: absolute;
    left: 1.04%;
    right: 92.97%;
    top: 12%;
    bottom: 27.31%;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*MangaWORLD*/
#header>p {
    position: absolute;
    left: 9%;
    right: 76.35%;
    top: 12%;
    bottom: 37.04%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    
    color: #410606;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*NAV*/
#header>nav {
    position: absolute;
    display:inline;
    left: 28%;
    top: 40%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    
    color: #941D1D;
        
}
#header>nav>a {
    margin-left:30px;
}

/*ControlBTN*/
#controlbtn {
    margin-left: 1366px;
}
#login {
    background-color:#8F4848;
    position: absolute;
    left:65%;
    top: 36.11%;
    bottom: 38.89%;
    width: 160px;
    height: 40,5px;
    border: none;
    color: white;
    font-size: 24px;
    
    border-radius: 25px;    
}
#signup {
    position: absolute;
    left: 76%;
    
    top: 36.11%;
    bottom: 38.89%;
    width: 160px;
    height: 40,5px;
    background-color: #FFD9D9;
    color: #8F4848;
    font-size: 24px;
    
    border: 1px solid #8F4848;
    box-sizing: border-box;
    border-radius: 25px;    
}
#controlbtn>input[type="image"]{
    margin-left: 1%;
    margin-top: 36%;
}

/*BANNER*/
.banner {
    position: absolute;
    left: 0px;
    top:160px;
    width: 100%;
    height: 503px;
    background-clip: padding-box;
}
.smallbanner {
    position: absolute;
    left: 7.81%;
    right: 30.21%;
    top: 6%;
    
}
.smallbanner2 {
    position: absolute;
    right: 10.67%;  
    top: 6%;
}
.smallbanner3 {
    position: absolute;
    right: 10%; 
    bottom: 4%;   
}
/*thanhdot*/
.dot1 {
    position: absolute;
    text-decoration: none;
    font-size: 120px;
    left: 24.01%;
    right: 75.05%;
    top: 69%;
    
        
    color: rgba(196, 196, 196, 0.6);
}
.dot2 {
    position: absolute;
    text-decoration: none;
    font-size: 120px;
    left: 25.52%;
    right: 73.39%;
    top: 69%;
      
    color: rgba(196, 196, 196, 0.6);
}
.dot3 {
    position: absolute;
    text-decoration: none;
    font-size: 120px;
    left: 27.24%;
    right: 71.82%;
    top: 69%;

    color: rgba(196, 196, 196, 0.6);
}
.dot4 {
    position: absolute;
    text-decoration: none;
    font-size: 120px;
    left: 28.85%;
    right: 70.21%;
    top: 69%;  

    color: rgba(196, 196, 196, 0.6);
}
.dot5 {
    position: absolute;
    text-decoration: none;
    font-size: 120px;
    left: 30.47%;
    right: 68.59%;
    top: 69%;  

    color: rgba(196, 196, 196, 0.6);
}
.dot6 {
    position: absolute;
    text-decoration: none;
    font-size: 120px;
    left: 32.08%;
    right: 66.98%;
    top: 69%;

    color: rgba(196, 196, 196, 0.6);
}
.dot7 {
    position: absolute;
    text-decoration: none;
    font-size: 120px;
    left: 33.7%;
    right: 65.36%;
    top: 69%;

    color: rgba(196, 196, 196, 0.6);
}
.dot1:hover, .dot2:hover, .dot3:hover, .dot4:hover, .dot5:hover, .dot6:hover, .dot7:hover{
    position: absolute;
    
    font-size: 122px;
    color: #ED4848;
    top: 69%;
    
}
.dot1:focus, .dot2:focus, .dot3:focus, .dot4:focus, .dot5:focus, .dot6:focus, .dot7:focus{
    position: absolute;
    
    font-size: 122px;
    color: #ED4848;
    top: 69%;
}